.btn {
    @apply inline-flex items-center gap-1 rounded-xl px-3 py-1.5 text-sm font-card ease-in-out transition;
}

.btn.primary {
    @apply bg-primary text-white hover:bg-accent hover:text-black justify-center;
}

.btn.secondary {
    @apply inline-flex items-center gap-1 rounded-xl bg-white/30 px-3 py-1.5 text-sm text-dark border border-black/10 hover:bg-dark/25 font-card ;
}

.btn.large-y {
    @apply py-3;
}

.btn.medium {
    @apply px-4 py-2;
}

.btn.dark {
    @apply bg-dark text-surface hover:bg-rose-water hover:text-dark;
}

.btn.rounded {
    @apply rounded-full;
}

.btn.tertiary {
    @apply bg-white/70 text-dark hover:bg-dark/10;
}

.btn.bordered {
    @apply border border-black/10;
}